:root {
  /* Constant */
  
  /* light */
  --light-bg-color: rgb(255, 255, 255);
  --ligt-font-color: rgb(0, 0, 255);

  /* dark  */
}

body{
  background: url('../Assets/images/countdown.gif');
  background-repeat: no-repeat;
  background-size: cover;
}
.bodyNew{
  background: url('../Assets/images/Final.jpg');
}

.countdownNumber {
  color: let(--ligt-font-color);
}
.countdownType{
  color: let(--ligt-font-color);
}
.countdownDevinition {
  color: let(--ligt-font-color);
}