:root {
  /* Constant */
  
  /* light */
  --light-bg-color: rgb(255, 255, 255);
  --ligt-font-color: rgb(0, 0, 255);

  /* dark  */
}

/* font */
@font-face {
  font-family: "myHandwriting";
  font-style: normal;
  font-weight: 400;
  src: url("../Assets/myFont/MyHandwritting.ttf");
}

/* Begin von den definitionen */
body{
  background: url('../Assets/images/countdown.gif');
  background-repeat: no-repeat;
  background-size: cover;
}
.bodyNew{
  background: url('../Assets/images/Final.jpg');
}


.titel{
  color: var(--ligt-font-color);
  font-family: "myHandwriting";
}
.countdownNumber {
  color: var(--ligt-font-color);
  font-family: "myHandwriting";
}
.countdownType{
  color: var(--ligt-font-color);
  font-family: "myHandwriting";
}
.countdownDevinition {
  color: var(--ligt-font-color);
  font-family: "myHandwriting";  
}
.button {
  color: var(--ligt-font-color);
  font-family: "myHandwriting"; 
}
#stopButton{
  display: none;
}

#startButton{
  display: inline-block;
}
